.vbox {
    -fx-spacing: 35px;
}

.littleVbox:hover {
    -fx-cursor: hand;
    -fx-background-color: #FF8C64;
}

.littleVbox {
    -fx-background-color: #7D6B7D;
}

.reported {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-family: Californian FB;
}

.reporter {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: Californian FB;
}