.vbox {
    -fx-background-color: #FF8C64;
}

.label:hover {
    -fx-background-color: #fff587;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Californian FB;
    -fx-font-size: 24px;
}

.text {
    -fx-fill: white;
}

