.button {
    -fx-background-color: #fff587;
    -fx-text-fill: #7d6b7d;
    -fx-background-radius: 30px;
    -fx-border-width: 5px;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: #63a4ff;
    -fx-background-color: #A3A1A8;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-fontsize: 22px;
    -fx-text-fill: #63a4ff;
    -fx-background-color: #A3A1A8;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-cursor: hand;
}