.vbox {
    -fx-background-color: #FF8C64;
}

.label {
    -fx-text-fill: white;
    -fx-font: Californian FB;
    -fx-font-size: 24px;
}

.label:hover {
    -fx-text-fill: #fff587;
    -fx-cursor: hand;
}


